<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <sites>
          <!-- Sitecore.Support.178463 -->
          <site name="analytics_operations" analyticsDefinitions="master" content="master" database="master" domain="sitecore" enableAnalytics="true" language="en"  />
      </sites>
      <automationWorker set:type="Sitecore.Support.Analytics.Automation.AutomationWorker, Sitecore.Support.178463" />
  </sitecore>
</configuration>